*,
*::before,
*::after {
  box-sizing: border-box;
  outline: 1px solid red;
}

*:not(html):not(body):not(main):not(nav) > * {
  outline: 1px solid yellow !important;
}

*:not(html):not(body):not(main):not(nav) > * > * {
  outline: 1px solid white !important;
}
